@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

body {
  width: 780px;
}

svg {
  fill: currentColor;
}

.max-w-1 {
  max-width: 1px;
}

.w-1p {
  width: 1%;
}

.min-h-10 {
  min-height: 2.5rem;
}

.border-2-blue {
  border: 2px solid blue;
}
