@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

body {
  width: 780px;
}

svg {
  fill: currentColor;
}

.max-w-1 {
  max-width: 1px;
}

.w-1p {
  width: 1%;
}

.min-h-10 {
  min-height: 2.5rem;
}

.border-2-blue {
  border: 2px solid blue;
}

.h-1-25 {
  height: 1.25rem;
}

.w-1-25 {
  width: 1.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-6 {
  margin-top: 1.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

input[type=checkbox]:checked {
  appearance: auto;
}